body {
    margin: 0;
    padding: 0;
    font-family: 'Genshin Impact';
    background-image: url('zhongli.png');
    background-size: 40% auto; 
    background-position: 25% 75%;
    background-repeat: no-repeat;
    background-color: hsl(39, 100%, 50%);
    color: black;
    background-attachment: fixed; 
}

@font-face {
    font-family: 'Genshin Impact';
    src: url('zh-cn.ttf') format('truetype'); 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(255, 138, 4); 
    border-radius: 10px;
    background-image: url('geo.png');
    background-size: 20% auto; 
    background-repeat: no-repeat;
    background-position: right;

}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bolder;
}

select {
    padding: 8px;
}

button {
    padding: 8px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}

#activities {
    margin-top: 20px;
}

#activities p {
    padding: 8px;
    background-color: rgb(255, 218, 150)
    border-radius: 5px;
    margin-bottom: 5px;
}